extends layout

block content
  h1= title

  form(method='action', action='/books/search')
    a.button.nav(href="/books/new") Create New Book
    input(for='search' type='text', name='search', placeholder='Search..')
    input(type='submit', value='Search', id="searchSubmit")
    a.button(href="/books") Go Home


  table
    thead
      tr
        th Title
        th Author
        th Genre
        th Year
    tbody
    each book in books
     tr
        td
          a(href=`/books/${book.id}`)= book.title
        td= book.author
        td= book.genre
        td= book.year

  .pagination
    - let page=1;
    while page <= pages
      a(href=`/books?query=${query?query:""}&page=${page}` class=`${activePage===page ? "active" : ""}`)= page
      - page += 1;

            
  //- div.pagination
  //-     -for(var i=1; i<=totalPages; i++)
  //-         a.button(href= `/books/page=${i}`)= i
  //- p
  //-   a.button(href=`/books/page/` + pagePrevious) Previous
  //- p
  //-   a.button(href=`/books/page/` + page) Next
  //- div.pagination
  //-   -for(let i=1; i<=totalPages; i++)
  //-     a.button(href= `/books/page=${i}`)= i

  //- - var n = 1;
  //-       ul(class='pagination')
  //-         while n <= totalPages
  //-           li
  //-             if(n == pageNumber)
  //-               a(class='active', href='/books/page=' + n)= n++
  //-             else
  //-               a(href='/books/page=' + n)= n++
  //- //- div
  //-   ul#bttnList
  //-     each val in bttns
  //-       li#pageBttn
  //-         form(action=`books?page=${val}`, method="post")
  //-           input(type='submit', value=`${val}`) 

  //- div.pagination
  //-   -for(var i=1; i<=totalPages; i++)
  //-     a.button(href= `/books/?column=${column}&searchKeyWord=${searchKeyWord}&&page=${i}`)= i

    //- div.links
    //-   script(src='/static/js/app.js')