extends layout

block content
  h1= title

  form(method='action', action='/books/search')
    a.button.nav(href="/books/new") Create New Book
    input(for='search' type='text', name='search', placeholder='Search..')
    input(type='submit', value='Search', id="searchSubmit")
    a.button(href="/books") Go Home


  table
    thead
      tr
        th Title
        th Author
        th Genre
        th Year
    tbody
    each book in books
     tr
        td
          a(href=`/books/${book.id}`)= book.title
        td= book.author
        td= book.genre
        td= book.year

  .pagination
    - let page=1;
    while page <= pages
      a(href=`/books?query=${query?query:""}&page=${page}` class=`${activePage===page ? "active" : ""}`)= page
      - page += 1;
