extends layout

block content
  h1= title
  h1 Books
  //- include bogus
  p
    a(href="/books/new") Add A New Book
    input(type="text" placeholder='Search...')
  table
    thead
      tr
        th Title
        th Author
        th Genre
        th Year
    tbody
    each book in books
     tr
        td
          a(href=`/books/${book.id}`)= book.title
        td= book.author
        td= book.genre
        td= book.year
//- extends layout

//- block content
//-   h1= title
//-   p Listing all books
//-   p
//-     a(href="/books/new") Create New Book
  
//-   each book in books
//-     h2= book.title
//-     include by_line
//-     //- p= book.shortDescription()
//-     a(href = "/books/" + book.id) Read More &rarr;