extends layout

block content

  h1= book.title
  include by_line
  p= book.genre
  p= book.year
  //- p= book.body
  a.button(href="../") &larr; Back
  | | 
  a.button(href=`/books/${book.id}/edit`) Edit Book
  | | 
  a.button(href=`/books/${book.id}/delete`) Delete Book